@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    top: 12.5rem;
    padding: 0 1.25rem;
}

.bayan__content-img {
    max-width: 31.25rem;
    width: 100%;
}

.bayan__title {
    margin-bottom: 0.625rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.bayan {
    margin: 0 auto;
    max-width: 31.25rem;
    width: 100%;
}

.bayan__checkbox {
    display: none;
}

.bayan__item {
    padding: 1.25rem 0;
    border-top: 0.063rem solid grey;
    transition: all 3s ease-in-out;
}

.bayan__checkbox-label {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    color: blue;
    padding: 1.25rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bayan__checkbox-label::after,
.bayan__checkbox-label::before {
    content: "";
    width: 0.25rem;
    height: 1.125rem;
    background-color: blue;
    margin-right: 0.625rem;
    position: absolute;
    right: 0;
}

.bayan__checkbox-label::before {
    transform: translate(0.125rem, 0) rotate(180deg);
}

.bayan__checkbox-label::after {
    transform: translate(0.125rem, 0) rotate(-90deg);
}